node_modules/*
/.vs
*.png
cucumber-html-report.js
cucumber-report.html
jsonlogs/
test_output.log
node_modules
jsonlogs/
automation*.log
.env.automation
test_output.log
cucumber-report.html
cypress/screenshots/
cypress/videos/
allure-report/
allure-results/
error_log.txt
cypress.env.json
.DS_Store